#heroImg {
  z-index: -1;
  height: 20%;
  width: 100%;
}
.whyContainer {
  margin-left: 15%;
  margin-top: 15%;
  margin-bottom: 15%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 70%;
  border-radius: 16px 16px 16px 16px;
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
}
.whyList {
  float: left;
}
@media (min-width: 425px) {
  .whyImg {
    width: 50%;
    height: 100%;
  }
}
@media (max-width: 425px) {
  .whyImg {
    display: none;
  }
}
.reviewContainer {
  background-image: url(https://res.cloudinary.com/drcgo7zqn/image/upload/v1594319302/Phone%20Smart/k-i-l-i-a-n-PZLgTUAhxMM-unsplash_yjs2mp.jpg);
  background-size: cover;
  padding: 10%;
  display: flex;
  justify-content: space-evenly;
}
.reviewsCards {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid black;

  width: 25%;
  margin: 20%;
  padding: 10%;
}
.reviewContent {
  font-size: 25%;
}
.rec.rec-dot {
  display: none;
}
.rec.rec-dot_active {
  display: none;
}
.rec-arrow.rec-arrow-left {
  background: none;
  box-shadow: none;
  color: white;
}
.rec-arrow.rec-arrow-right {
  background: none;
  box-shadow: none;
  color: white;
}
.rec-arrow.rec-arrow-right:hover:enabled {
  background: none;
  box-shadow: none;
}
.rec-arrow.rec-arrow-left:hover:enabled {
  background: none;
  box-shadow: none;
}
.rec-arrow.rec-arrow-right:focus:enabled {
  background: none;
  box-shadow: none;
}
.rec-arrow.rec-arrow-left:focus:enabled {
  background: none;
  box-shadow: none;
}
li {
  list-style: none;
  padding-left: none;
}
ul {
  padding-left: 8px;
}
.fas.fa-mobile-alt {
  font-size: 5em;
}
