.logoContainer {
  size: 1em;
}
.logo-mobile {
  height: 60px;
  padding-top: 0.9em;
  padding-left: 0.9em;
}
.icons-list-container {
  display: flex;
  padding-left: 55%;
  justify-items: space-around;
  margin-top: 15px;
}
.icons-list {
  display: flex;
  justify-content: space-around;
  float: right;
  padding: 5px;
}
.navLink,
.navLink:visited {
  color: black;
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px;
  font-size: larger;
  border-right: 1px solid rgba(0, 0, 0, 0.26);
}

#mobile-plans-link {
  border-right: none;
}
.desktop-nav-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}
.nav {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.26);
}
.fas.fa-map-marker-alt,
.far.fa-envelope {
  font-size: smaller;
}

body {
  display: flex;
  flex-direction: column;
}

@media (min-width: 426px) {
  .icons-list-container {
    padding-left: 85%;
  }
}
@media (max-width: 425px) {
  footer {
    margin-top: 10%;
  }
}
.copyrightDevName {
  padding-left: 10px;
}
a:visited {
  color: white;
}
